body {
  background-color: #72858c;
}

#title {
  color: #fff;
  padding: 1% 10%;
  justify-content: center;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
}
h2 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  padding: 2%;
  color: #fff;
}
.container-fluid {
  padding: 1% 15%;
}

blockquote {
  font-style: italic;
}

#input {
  padding: 2%;
}

#art {
  text-align: center;
}

.overflow {
  overflow-y: hidden;
  line-height: 1.15;
}

.description {
  padding-top: 6%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.group_row {
  justify-content: center;
  margin: 0 -40px;
}

.card-parent {
  width: auto;
  flex: 0 0 auto;
}

.group_img {
  height: 322px;
  width: 322px;
}

/* ARTISTS */
.group_card {
  border-radius: 0.5rem;
  background-color: #fefefe;
}

.group_logo {
  width: 100%;
  padding: 35px;
  border-radius: 20%;
}

.group_logo_parent {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
